Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-zerorepo, @pleaseai/soop-mcp, @pleaseai/soop-cli

Notes added by 'git notes add'
  d430e79f83a75360377e1ee4cc603c4ec6ffc33d
Due: none

fix(evaluation): apply bot review suggestions
  evaluation/evals/swe-bench/django-14170/EVAL.ts
  evaluation/evals/swe-bench/xarray-6938/EVAL.ts
  evaluation/evals/swe-bench/xarray-6938/PROMPT.md
  evaluation/experiments/soop-codex.ts
  evaluation/lib/metrics.ts
  evaluation/scripts/generate-evals.ts
Due: none

Notes added by 'git notes add'
  3fa00bf138f5fd46362f1d19e09b3dcdbd587814
Due: none

fix(evaluation): capture deleted files in oracle extraction
  evaluation/lib/metrics.ts
Due: none

Notes added by 'git notes add'
  8166dd4775d532ed7b2fdbacee12060e19081b2d
Due: none

fix(encoder): spread Map.entries() to array before calling toSorted
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/semantic.ts
  packages/mcp/src/interactive/state.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-mcp

Notes added by 'git notes add'
  4d208f0cdb2aa98b5f8623646e610996b3ad5447
Due: none

feat(evaluation): add Gemini experiments, agent hints, and README
  evaluation/README.md
  evaluation/evals/swe-bench/django-14170/EVAL.ts
  evaluation/evals/swe-bench/xarray-6938/EVAL.ts
  evaluation/experiments/baseline-claude-code.ts
  evaluation/experiments/baseline-gemini.ts
  evaluation/experiments/soop-gemini.ts
  evaluation/lib/setup-soop.ts
  evaluation/scripts/generate-evals.ts
Due: none

Notes added by 'git notes add'
  55390e13d0da83663430360da191ff3ca1c96777
Due: none

feat(utils): add gemini-cli LLM provider
  CLAUDE.md
  bun.lock
  packages/utils/package.json
  packages/utils/src/llm.ts
  packages/utils/tests/llm.test.ts
Due: unit, integration, @pleaseai/soop-utils

Notes added by 'git notes add'
  650f8ca60acdebe39ebe566835f2109981ac43a0
Due: none

fix(evaluation): apply bot review suggestions
  evaluation/lib/setup-soop.ts
Due: none

Notes added by 'git notes add'
  57eab2f3464650a430d6bb68b94c476bbb90b168
Due: none

fix(utils): update JSDoc and add missing apiKey test for gemini-cli
  packages/utils/src/llm.ts
  packages/utils/tests/llm.test.ts
Due: unit, integration, @pleaseai/soop-utils

Notes added by 'git notes add'
  8b9f24217e98439bc7619635ecf8379719d2edd5
Due: none

chore: apply AI code review suggestions
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/semantic.ts
  packages/mcp/src/interactive/state.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-mcp

Notes added by 'git notes add'
  4454b0d4219b2cb9b5752880bf0b311c34ef1cc6
Due: none

feat(utils): add gemini-cli LLM provider (#252)
  CLAUDE.md
  bun.lock
  packages/utils/package.json
  packages/utils/src/llm.ts
  packages/utils/tests/llm.test.ts
Due: unit, integration, @pleaseai/soop-utils

Notes added by 'git notes add'
  bee37773a3024cd33290f81cff46a3f9a961f41e
Due: none

feat(evaluation): add agent evaluation framework using @vercel/agent-eval (#250)
  .gitignore
  evaluation/.env.example
  evaluation/.gitignore
  evaluation/README.md
  evaluation/evals/swe-bench/django-14170/EVAL.ts
  evaluation/evals/swe-bench/django-14170/PROMPT.md
  evaluation/evals/swe-bench/django-14170/package.json
  evaluation/evals/swe-bench/xarray-6938/EVAL.ts
  evaluation/evals/swe-bench/xarray-6938/PROMPT.md
  evaluation/evals/swe-bench/xarray-6938/package.json
  evaluation/experiments/baseline-claude-code.ts
  evaluation/experiments/baseline-gemini.ts
  evaluation/experiments/soop-claude-code.ts
  evaluation/experiments/soop-codex.ts
  evaluation/experiments/soop-gemini.ts
  evaluation/lib/metrics.ts
  evaluation/lib/setup-soop.ts
  evaluation/lib/swe-bench-loader.ts
  evaluation/package-lock.json
  evaluation/package.json
  evaluation/scripts/generate-evals.ts
  evaluation/tsconfig.json
Due: none

chore(soop): update graph
  .soop/graph.json
Due: none

Notes added by 'git notes add'
  b97b6752d491bcc61b66ec5646bdfcbb5eee8d42
Due: none

ci(release): use bun pm pack before npm publish
  .github/workflows/release-please.yml
  CLAUDE.md
  packages/soop/package.json
Due: unit, integration

Notes added by 'git notes add'
  2616d03a9bb47edbcf2ae8e60e9e20dff0a69f74
Due: none

ci(release): use bun pm pack before npm publish (#255)
  .github/workflows/release-please.yml
  CLAUDE.md
  packages/soop/package.json
Due: unit, integration

fix(build): externalize gemini-cli-core wasm imports and remove stale mcp artifact check
  .github/workflows/release-please.yml
  tsdown.config.ts
Due: none

Notes added by 'git notes add'
  2539f4dac47732fdbf5e037d109befda18d6c6e0
Due: none

chore: apply AI code review suggestions
  packages/soop/package.json
  tsdown.config.ts
Due: unit, integration

Notes added by 'git notes add'
  4ebc20224685eaed08198b1690d3cbabf88efcb4
Due: none

Notes added by 'git notes add'
  99213dd2efedc91685bdc09b600444cc4c83760e
Due: none

chore: update lockfile after adding optional dependencies
  bun.lock
Due: none

fix(build): fix release build failures from wasm imports and stale artifact check (#256)
  .github/workflows/release-please.yml
  bun.lock
  packages/soop/package.json
  tsdown.config.ts
Due: unit, integration

Notes added by 'git notes add'
  e683034a3d1fe68fc798ba15327476282ed998d9
Due: none

chore(claude): add review type analyzer memory and gardening plugin
  .claude/agent-memory/review-review-type-analyzer/MEMORY.md
  .claude/settings.json
  .superset/config.json
Due: none

chore(please): configure cubic and gemini review tools
  .please/config.yml
Due: none

Notes added by 'git notes add'
  cefe35c3026befee87ca78b29234a10a98a92681
Due: none

Notes added by 'git notes add'
  be0e5d41c9b7cab3970aabd9628babc33e7f6e72
Due: none

Path conditions:
  unit: any of: packages/
  integration: any of: packages/
  @pleaseai/soop-utils: any of: packages/utils/src/**
  @pleaseai/soop-store: any of: packages/store/src/**
  @pleaseai/soop-graph: any of: packages/graph/src/**
  @pleaseai/soop-encoder: any of: packages/encoder/src/**
  @pleaseai/soop-tools: any of: packages/tools/src/**
  @pleaseai/soop-zerorepo: any of: packages/zerorepo/src/**
  @pleaseai/soop-mcp: any of: packages/mcp/src/**
  @pleaseai/soop-cli: any of: packages/cli/src/**
