Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-zerorepo, @pleaseai/soop-mcp, @pleaseai/soop-cli

feat(store): add BM25 scoring to LocalTextSearchStore
  packages/store/src/local/text-search-store.ts
  packages/store/tests/store/local-text-search-store.test.ts
Due: unit, integration, @pleaseai/soop-store

fix(encoder): apply AI reviewer suggestions (round 2)
  packages/cli/src/cli.ts
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-cli

chore: remove tests/fixtures/nextjs submodule
  .gitmodules
  CLAUDE.md
Due: none

fix(store): add defensive guards in BM25 scoring
  packages/store/src/local/text-search-store.ts
Due: unit, integration, @pleaseai/soop-store

chore: remove tests/fixtures/nextjs submodule (#234)
  .gitmodules
  CLAUDE.md
Due: none

fix(encoder): resolve relative rootPath against savePath directory
  packages/cli/src/cli.ts
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-cli

fix(mcp): use basename for vector store path to prevent nested directories
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/soop-mcp

refactor: modernize array/object methods across packages
  packages/ast/src/languages/index.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/src/grounding.ts
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/semantic.ts
  packages/encoder/tests/semantic-retry.test.ts
  packages/graph/src/embeddings.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/embeddings.test.ts
  packages/graph/tests/graph.test.ts
  packages/mcp/src/interactive/encoder.ts
  packages/mcp/src/interactive/state.ts
  packages/mcp/src/server.ts
  packages/store/src/local/graph-store.ts
  packages/store/src/sqlite/graph-store.ts
  packages/tools/src/search.ts
  packages/utils/src/llm.ts
  packages/utils/src/memory.ts
  packages/utils/tests/memory.test.ts
  scripts/generate-packages.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-mcp, @pleaseai/soop-cli

chore: apply AI code review suggestions
  packages/store/src/local/text-search-store.ts
  packages/store/tests/store/local-text-search-store.test.ts
Due: unit, integration, @pleaseai/soop-store

fix(mcp): use basename for vector store path to prevent nested directories (#235)
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/soop-mcp

feat(store): add BM25 scoring to LocalTextSearchStore (#233)
  packages/ast/src/languages/index.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/src/grounding.ts
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/semantic.ts
  packages/encoder/tests/semantic-retry.test.ts
  packages/graph/src/embeddings.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/embeddings.test.ts
  packages/graph/tests/graph.test.ts
  packages/mcp/src/interactive/encoder.ts
  packages/mcp/src/interactive/state.ts
  packages/mcp/src/server.ts
  packages/store/src/local/graph-store.ts
  packages/store/src/local/text-search-store.ts
  packages/store/src/sqlite/graph-store.ts
  packages/store/tests/store/local-text-search-store.test.ts
  packages/tools/src/search.ts
  packages/utils/src/llm.ts
  packages/utils/src/memory.ts
  packages/utils/tests/memory.test.ts
  scripts/generate-packages.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-mcp, @pleaseai/soop-cli

fix(cli): persist absolute rootPath in evolve command
  packages/cli/src/cli.ts
Due: unit, integration, @pleaseai/soop-cli

refactor(encoder)!: align RPGEncoder API and CLI with reference implementation (#231)
  .github/workflows/soop-encode.yml
  CLAUDE.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/templates/soop-encode.yml
  packages/encoder/src/encoder.ts
  packages/mcp/src/tools.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-mcp, @pleaseai/soop-cli

fix(encoder): resolve dependency rebuild UNIQUE constraint and embedding ID mismatch
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/operations.ts
  packages/graph/src/rpg.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder

fix(encoder): handle modification-to-insertion fallback in embedding tracking
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/evolution/evolve.ts
  packages/graph/src/rpg.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder

fix(encoder): add per-edge error handling and correct insertion counter
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/evolution/evolve.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): fail fast when dependency edge clearing fails during rebuild
  packages/encoder/src/dependency-injection.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): use best-effort clearing for dependency edge rebuild
  packages/cli/src/cli.ts
  packages/encoder/src/dependency-injection.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-cli

fix(encoder): throw after attempting all edge deletions during rebuild
  packages/encoder/src/dependency-injection.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): resolve dependency rebuild UNIQUE constraint and embedding ID mismatch (#239)
  packages/cli/src/cli.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/operations.ts
  packages/graph/src/rpg.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-cli

ci(soop): remove embedding from encode workflow
  .github/workflows/soop-encode.yml
Due: none

ci(soop): remove embedding from encode workflow (#241)
  .github/workflows/soop-encode.yml
Due: none

refactor(graph): change save format to Python rpg_encoder.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/cli/tests/cli-stamp.test.ts
  packages/encoder/src/encoder.ts
  packages/graph/package.json
  packages/graph/src/index.ts
  packages/graph/src/meta.ts
  packages/graph/src/python-format.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/graph.test.ts
  packages/graph/tests/rpg-config.test.ts
  packages/mcp/src/interactive/encoder.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools.ts
  tests/fixtures/sample-rpg.json
  tests/fixtures/sample-rpg.meta.json
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-mcp, @pleaseai/soop-cli

fix(graph): add backward compat, improve error handling for format change
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/src/encoder.ts
  packages/graph/src/python-format.ts
  packages/graph/src/rpg.ts
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-mcp, @pleaseai/soop-cli

chore: apply AI code review suggestions
  packages/graph/src/meta.ts
  packages/graph/src/python-format.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/graph.test.ts
Due: unit, integration, @pleaseai/soop-graph

chore(please): migrate workspace from v9 to v10 structure
  .please/INDEX.md
  .please/config.yml
  .please/docs/knowledge/product-guidelines.md
  .please/docs/knowledge/product.md
  .please/docs/knowledge/tech-stack.md
  .please/docs/knowledge/workflow.md
  .please/docs/product-specs/index.md
  .please/docs/tracks/index.md
  .please/docs/tracks/tech-debt-tracker.md
Due: none

chore: sort data_flow edges for deterministic serialization
  packages/graph/src/rpg.ts
Due: unit, integration, @pleaseai/soop-graph

fix(please): remove broken ARCHITECTURE.md link and fix package count
  .please/INDEX.md
  .please/docs/knowledge/tech-stack.md
Due: none

ci(soop): exclude graph.meta.json from encode trigger paths
  .github/workflows/soop-encode.yml
Due: none

refactor(graph): change save format to Python rpg_encoder.json (#244)
  .github/workflows/soop-encode.yml
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/cli/tests/cli-stamp.test.ts
  packages/encoder/src/encoder.ts
  packages/graph/package.json
  packages/graph/src/index.ts
  packages/graph/src/meta.ts
  packages/graph/src/python-format.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/graph.test.ts
  packages/graph/tests/rpg-config.test.ts
  packages/mcp/src/interactive/encoder.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools.ts
  tests/fixtures/sample-rpg.json
  tests/fixtures/sample-rpg.meta.json
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-mcp, @pleaseai/soop-cli

chore(soop): update graph
  .soop/graph.json
Due: none

chore(please): apply AI review suggestions
  .please/INDEX.md
  .please/docs/knowledge/product-guidelines.md
  .please/docs/knowledge/tech-stack.md
Due: none

docs: add ARCHITECTURE.md and fix stale workflow references
  .please/INDEX.md
  .please/docs/product-specs/index.md
  .please/docs/tracks/index.md
  ARCHITECTURE.md
Due: none

chore(please): add .gitkeep to preserve references directory
  .please/docs/references/.gitkeep
Due: none

chore(please): migrate workspace from v9 to v10 structure (#245)
  .please/INDEX.md
  .please/config.yml
  .please/docs/knowledge/product-guidelines.md
  .please/docs/knowledge/product.md
  .please/docs/knowledge/tech-stack.md
  .please/docs/knowledge/workflow.md
  .please/docs/product-specs/index.md
  .please/docs/references/.gitkeep
  .please/docs/tracks/index.md
  .please/docs/tracks/tech-debt-tracker.md
  ARCHITECTURE.md
Due: none

feat(evaluation): add agent evaluation framework using @vercel/agent-eval
  .gitignore
  evaluation/.env.example
  evaluation/.gitignore
  evaluation/evals/swe-bench/django-14170/EVAL.ts
  evaluation/evals/swe-bench/django-14170/PROMPT.md
  evaluation/evals/swe-bench/django-14170/package.json
  evaluation/evals/swe-bench/xarray-6938/EVAL.ts
  evaluation/evals/swe-bench/xarray-6938/PROMPT.md
  evaluation/evals/swe-bench/xarray-6938/package.json
  evaluation/experiments/baseline-claude-code.ts
  evaluation/experiments/soop-claude-code.ts
  evaluation/experiments/soop-codex.ts
  evaluation/lib/metrics.ts
  evaluation/lib/setup-soop.ts
  evaluation/lib/swe-bench-loader.ts
  evaluation/package-lock.json
  evaluation/package.json
  evaluation/scripts/generate-evals.ts
  evaluation/tsconfig.json
Due: none

Notes added by 'git notes add'
  09d06e2a39aa26dc621f9b013ab6a1fa4c5c6c00
Due: none

fix(evaluation): address review issues in agent eval framework
  evaluation/evals/swe-bench/django-14170/EVAL.ts
  evaluation/evals/swe-bench/xarray-6938/EVAL.ts
  evaluation/experiments/soop-codex.ts
  evaluation/lib/metrics.ts
  evaluation/lib/setup-soop.ts
  evaluation/lib/swe-bench-loader.ts
  evaluation/scripts/generate-evals.ts
Due: none

Path conditions:
  unit: any of: packages/
  integration: any of: packages/
  @pleaseai/soop-utils: any of: packages/utils/src/**
  @pleaseai/soop-store: any of: packages/store/src/**
  @pleaseai/soop-graph: any of: packages/graph/src/**
  @pleaseai/soop-encoder: any of: packages/encoder/src/**
  @pleaseai/soop-tools: any of: packages/tools/src/**
  @pleaseai/soop-zerorepo: any of: packages/zerorepo/src/**
  @pleaseai/soop-mcp: any of: packages/mcp/src/**
  @pleaseai/soop-cli: any of: packages/cli/src/**
