Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/repo-utils, @pleaseai/repo-store, @pleaseai/repo-graph, @pleaseai/repo-encoder, @pleaseai/repo-tools, @pleaseai/repo-zerorepo, @pleaseai/repo-mcp, @pleaseai/repo-cli

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  unit:
    paths:
      - packages/
    carryforward: true
  integration:
    paths:
      - packages/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 80%
  individual_components:
    - component_id: utils
      name: '@pleaseai/repo-utils'
      paths:
        - packages/utils/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: store
      name: '@pleaseai/repo-store'
      paths:
        - packages/store/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: graph
      name: '@pleaseai/repo-graph'
      paths:
        - packages/graph/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: encoder
      name: '@pleaseai/repo-encoder'
      paths:
        - packages/encoder/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: tools
      name: '@pleaseai/repo-tools'
      paths:
        - packages/tools/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: zerorepo
      name: '@pleaseai/repo-zerorepo'
      paths:
        - packages/zerorepo/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: mcp
      name: '@pleaseai/repo-mcp'
      paths:
        - packages/mcp/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: cli
      name: '@pleaseai/repo-cli'
      paths:
        - packages/cli/src/**
      flag_regexes:
        - unit
        - integration

chore: apply AI code review suggestions
  CLAUDE.md
  packages/cli/src/templates/soop-encode.yml
  packages/mcp/src/index.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools.ts
Due: unit, integration, @pleaseai/repo-mcp, @pleaseai/repo-cli

chore: apply AI code review suggestions
  packages/cli/src/commands/hooks.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/templates/soop-encode.yml
  packages/cli/tests/cli-init-sync.integration.test.ts
  tsdown.config.ts
Due: unit, integration, @pleaseai/repo-cli

fix(docs): rename con.tex to conclusion.tex to fix Windows CI
  docs/arXiv-2509.16198v5/main.tex
  docs/arXiv-2509.16198v5/sections/conclusion.tex
Due: none

fix(docs): rename con.tex to conclusion.tex to fix Windows CI (#121)
  docs/arXiv-2509.16198v5/main.tex
  docs/arXiv-2509.16198v5/sections/conclusion.tex
Due: none

chore(release): add all workspace packages to release-please tracking
  .release-please-manifest.json
  release-please-config.json
Due: none

chore(release): deduplicate release-please config by hoisting common properties to root
  release-please-config.json
Due: none

chore(release): add all workspace packages to release-please tracking (#122)
  .release-please-manifest.json
  release-please-config.json
Due: none

chore: bump bun package manager to 1.3.10
  package.json
Due: none

chore: bump bun package manager to 1.3.10 (#129)
  package.json
Due: none

fix(build): disable bytecode for Windows targets to avoid Bun crash
  scripts/generate-packages.ts
Due: none

chore: use structured target parsing for Windows bytecode check
  scripts/generate-packages.ts
Due: none

fix(build): disable bytecode for Windows targets to avoid Bun crash (#130)
  scripts/generate-packages.ts
Due: none

fix(build): fix Bun.build compile API and add robustness to generate-packages script
  packages/soop/package.json
  scripts/generate-packages.ts
Due: unit, integration

build: update @pleaseai/soop dependencies to version 0.1.11
  bun.lock
Due: none

fix(build): fix Bun.build compile API and add robustness to generate-packages script (#131)
  bun.lock
  packages/soop/package.json
  scripts/generate-packages.ts
Due: unit, integration

ci: skip npm publish if package version already exists
  .github/workflows/release-please.yml
Due: none

ci: skip npm publish if package version already exists (#133)
  .github/workflows/release-please.yml
Due: none

build: include README.md and LICENSE in @pleaseai/soop npm package
  .gitignore
  package.json
  packages/soop/package.json
Due: unit, integration

chore: combine cp commands for README.md and LICENSE into one
  package.json
Due: none

build: include README.md and LICENSE in @pleaseai/soop npm package (#134)
  .gitignore
  package.json
  packages/soop/package.json
Due: unit, integration

fix(soop): remove workspace deps from published package
  bun.lock
  packages/soop/package.json
Due: unit, integration

fix(ci): replace repo command with soop in soop-encode workflow
  .github/workflows/soop-encode.yml
Due: none

fix(release): use absolute paths in extra-files to prevent double-path resolution
  release-please-config.json
Due: none

fix: resolve bun install -g failure and correct CI command name (#135)
  .github/workflows/soop-encode.yml
  bun.lock
  packages/soop/package.json
  release-please-config.json
Due: unit, integration

ci: skip lint/test/typecheck for release-please branches
  .github/workflows/ci.yml
Due: none

ci: skip lint/test/typecheck for release-please branches (#137)
  .github/workflows/ci.yml
Due: none

ci: use GITHUB_OUTPUT flag to properly skip steps on release-please branches
  .github/workflows/ci.yml
Due: none

ci: use GITHUB_OUTPUT flag to properly skip steps on release-please branches (#138)
  .github/workflows/ci.yml
Due: none

ci: update bun.lock in release-please PR to fix frozen-lockfile build failure
  .github/workflows/release-please.yml
Due: none

ci: update bun.lock to version 0.1.13 for @pleaseai/soop packages
  bun.lock
Due: none

ci: update bun.lock in release-please PR to fix frozen-lockfile build failure (#139)
  .github/workflows/release-please.yml
  bun.lock
Due: none

fix: add group-pull-request-title-pattern to prevent release-please abort
  release-please-config.json
Due: none

fix: correct group-pull-request-title-pattern format
  release-please-config.json
Due: none

fix: add group-pull-request-title-pattern to prevent release-please abort (#141)
  release-please-config.json
Due: none

docs: Fix SonarCloud badges in README
  README.md
Due: none

Update README.md
  README.md
Due: none

docs: Fix SonarCloud badges in README (#142)
  README.md
Due: none

chore: add tree-sitter packages to trustedDependencies
  bun.lock
Due: none

chore: add tree-sitter packages to trustedDependencies
  package.json
  packages/soop/package.json
Due: unit, integration
