Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-zerorepo, @pleaseai/soop-mcp, @pleaseai/soop-cli

docs(architecture): add top-level directories table and Gemini CLI provider
  ARCHITECTURE.md
Due: none

Notes added by 'git notes add'
  7b755fcf48ffb659913cd8d122726ba125e5772c
Due: none

chore(please): upgrade workspace config to v2 and migrate legacy plans
  .please/config.yml
  .please/docs/plans/active/2026-02-04-ast-multi-language.md
  .please/docs/plans/active/2026-02-04-encoder-implementation.md
  .please/docs/plans/active/2026-02-04-graphstore-dual-prototype.md
  .please/docs/plans/active/2026-02-04-mcp-server.md
  .please/docs/plans/active/2026-02-06-domain-discovery-3level-path.md
  .please/docs/plans/active/2026-02-06-lca-artifact-grounding.md
  .please/docs/plans/active/2026-02-06-rpg-encoder-evolution.md
  .please/docs/plans/active/2026-02-06-semantic-lifting-improvements.md
  .please/docs/plans/active/2026-02-07-mcp-rpg-evolve-tool.md
  .please/docs/plans/active/2026-02-07-search-scopes-auto-fallback.md
  .please/docs/plans/active/2026-02-15-dependency-graph.md
  .please/docs/plans/active/2026-02-20-type-aware-call-resolution.md
Due: none

Notes added by 'git notes add'
  a2cd14cec9ae432544aff437a9033e113648c268
Due: none

chore: add Gemini CLI settings with CLAUDE.md and GEMINI.md context
  .gemini/settings.json
Due: none

docs: update implementation-status.md paths to monorepo package layout
  docs/implementation-status.md
Due: none

Notes added by 'git notes add'
  c00190eba4da3e59282217d1064127876458bbe7
Due: none

docs: fix stale paths, tool names, and package count across docs
  CLAUDE.md
  README.md
  docs/implementation-status.md
Due: none

Notes added by 'git notes add'
  d7ca3d7fff413be45bb47aa4e4d06e36d3dce6d8
Due: none

chore: add gardening doc-gardener agent memory
  .claude/agent-memory/gardening-gardening-doc-gardener/MEMORY.md
  .claude/agent-memory/gardening-gardening-doc-gardener/project-structure.md
  .claude/agent-memory/gardening-gardening-doc-gardener/recurring-issues.md
  .claude/agent-memory/gardening-gardening-doc-gardener/state.json
Due: none

Notes added by 'git notes add'
  40a3c2493e64e642b37cad3a51fb1472aa16076a
Due: none

chore: apply AI code review suggestions
  .claude/agent-memory/review-review-type-analyzer/MEMORY.md
  .superset/config.json
  CLAUDE.md
Due: none

Notes added by 'git notes add'
  118abab9bdb2a2fc66fa263d50baad270c606fde
Due: none

chore: tooling and configuration updates (#260)
  .claude/agent-memory/gardening-gardening-doc-gardener/MEMORY.md
  .claude/agent-memory/gardening-gardening-doc-gardener/project-structure.md
  .claude/agent-memory/gardening-gardening-doc-gardener/recurring-issues.md
  .claude/agent-memory/gardening-gardening-doc-gardener/state.json
  .claude/agent-memory/review-review-type-analyzer/MEMORY.md
  .claude/settings.json
  .gemini/settings.json
  .please/config.yml
  .please/docs/plans/active/2026-02-04-ast-multi-language.md
  .please/docs/plans/active/2026-02-04-encoder-implementation.md
  .please/docs/plans/active/2026-02-04-graphstore-dual-prototype.md
  .please/docs/plans/active/2026-02-04-mcp-server.md
  .please/docs/plans/active/2026-02-06-domain-discovery-3level-path.md
  .please/docs/plans/active/2026-02-06-lca-artifact-grounding.md
  .please/docs/plans/active/2026-02-06-rpg-encoder-evolution.md
  .please/docs/plans/active/2026-02-06-semantic-lifting-improvements.md
  .please/docs/plans/active/2026-02-07-mcp-rpg-evolve-tool.md
  .please/docs/plans/active/2026-02-07-search-scopes-auto-fallback.md
  .please/docs/plans/active/2026-02-15-dependency-graph.md
  .please/docs/plans/active/2026-02-20-type-aware-call-resolution.md
  .superset/config.json
  ARCHITECTURE.md
  CLAUDE.md
  README.md
  docs/implementation-status.md
Due: none

docs(track): add jsonl-graph-format-20260331
  .please/docs/tracks/active/jsonl-graph-format-20260331/metadata.json
  .please/docs/tracks/active/jsonl-graph-format-20260331/plan.md
  .please/docs/tracks/active/jsonl-graph-format-20260331/spec.md
  .please/docs/tracks/index.md
Due: none

Notes added by 'git notes add'
  1538297e8d5b4440f4b48cb4316cfc76214593ca
Due: none

chore(track): jsonl-graph-format-20260331 start implementation
  .please/docs/tracks/active/jsonl-graph-format-20260331/metadata.json
  .please/docs/tracks/index.md
Due: none

Notes added by 'git notes add'
  b2f1e5bfe1014cc23b39fa102667d33e109d3f0a
Due: none

Notes added by 'git notes add'
  719cb05de8ee0cab94c247ed2eaae9973b8230a5
Due: none

feat(graph): add JSONL serialization/deserialization for PythonRPG
  packages/graph/src/jsonl.ts
  packages/graph/tests/jsonl.test.ts
Due: unit, integration, @pleaseai/soop-graph

Notes added by 'git notes add'
  9ded90619759ea386b02aeb932192ecc8e01f971
Due: none

feat(graph): add RPG JSONL methods and metaPathFor .jsonl support
  packages/graph/src/index.ts
  packages/graph/src/meta.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/jsonl.test.ts
Due: unit, integration, @pleaseai/soop-graph

Notes added by 'git notes add'
  6a70ee23b62938eef160246d49fcca76b04a8559
Due: none

feat(encoder): support JSONL format in save() based on file extension
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder

feat(cli,mcp): add --format flag and JSONL auto-detection
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/src/encoder.ts
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-mcp, @pleaseai/soop-cli

Notes added by 'git notes add'
  27e6feed6c2188452a1f1f4851a8559687c17594
Due: none

fix(cli): fix sync localGraphPath for JSONL and validate --format
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
Due: unit, integration, @pleaseai/soop-cli

Notes added by 'git notes add'
  08af96d4cef8b55a738cb182cb7cacf71b3aa90c
Due: none

docs(track): add retrospective for jsonl-graph-format-20260331
  .please/docs/tracks/active/jsonl-graph-format-20260331/plan.md
Due: none

Notes added by 'git notes add'
  6d292c81c981cc8d82a3d88818f5c1abb69339ef
Due: none

Notes added by 'git notes add'
  afd7917b4459bbfbc8eaaf891c4e5b2d0230ebbd
Due: none

chore: apply AI code review suggestions
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/graph/src/jsonl.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-cli

fix(graph): fix TS error in data_flow sort comparator
  packages/graph/src/jsonl.ts
Due: unit, integration, @pleaseai/soop-graph

Notes added by 'git notes add'
  7d600a3de9152fbc552f16a27fea5575a58f17e2
Due: none

feat: JSONL graph format for git-friendly storage (#262)
  .please/docs/tracks/active/jsonl-graph-format-20260331/metadata.json
  .please/docs/tracks/active/jsonl-graph-format-20260331/plan.md
  .please/docs/tracks/active/jsonl-graph-format-20260331/spec.md
  .please/docs/tracks/index.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/src/encoder.ts
  packages/graph/src/index.ts
  packages/graph/src/jsonl.ts
  packages/graph/src/meta.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/jsonl.test.ts
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-mcp, @pleaseai/soop-cli

chore(soop): update graph
  .soop/graph.json
Due: none

fix(ci): use root build script instead of turbo in publish job
  .github/workflows/release-please.yml
Due: none

Notes added by 'git notes add'
  ca8fcaa41893dbbb548198d25aa3f17e66cb8074
Due: none

fix(ci): use root build script instead of turbo in publish job (#270)
  .github/workflows/release-please.yml
Due: none

fix(namu): auto-download tree-sitter binary when missing in CI
  bun.lock
  package.json
  packages/namu/build.ts
Due: unit, integration

Path conditions:
  unit: any of: packages/
  integration: any of: packages/
  @pleaseai/soop-utils: any of: packages/utils/src/**
  @pleaseai/soop-store: any of: packages/store/src/**
  @pleaseai/soop-graph: any of: packages/graph/src/**
  @pleaseai/soop-encoder: any of: packages/encoder/src/**
  @pleaseai/soop-tools: any of: packages/tools/src/**
  @pleaseai/soop-zerorepo: any of: packages/zerorepo/src/**
  @pleaseai/soop-mcp: any of: packages/mcp/src/**
  @pleaseai/soop-cli: any of: packages/cli/src/**
