Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-store, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-tools, @pleaseai/rpg-zerorepo, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  unit:
    paths:
      - packages/
    carryforward: true
  integration:
    paths:
      - packages/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 80%
  individual_components:
    - component_id: utils
      name: "@pleaseai/rpg-utils"
      paths:
        - packages/utils/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: store
      name: "@pleaseai/rpg-store"
      paths:
        - packages/store/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: graph
      name: "@pleaseai/rpg-graph"
      paths:
        - packages/graph/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: encoder
      name: "@pleaseai/rpg-encoder"
      paths:
        - packages/encoder/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: tools
      name: "@pleaseai/rpg-tools"
      paths:
        - packages/tools/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: zerorepo
      name: "@pleaseai/rpg-zerorepo"
      paths:
        - packages/zerorepo/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: mcp
      name: "@pleaseai/rpg-mcp"
      paths:
        - packages/mcp/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: cli
      name: "@pleaseai/rpg-cli"
      paths:
        - packages/cli/src/**
      flag_regexes:
        - unit
        - integration

fix(ci): always embed using voyage-4 or local nano fallback
  packages/cli/src/templates/rpg-encode.yml
Due: unit, integration, @pleaseai/rpg-cli

feat(rpg): add configuration for RPG encoding and embedding
  .github/workflows/rpg-encode.yml
  .rpg/config.json
Due: none

feat(graph): convert embeddings storage from JSON to JSONL format
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/templates/rpg-encode.yml
  packages/graph/src/embeddings.ts
  packages/mcp/src/server.ts
  tests/embeddings.test.ts
Due: unit, integration, @pleaseai/rpg-graph, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

feat(graph): add deterministic sorting to serialize() output
  CLAUDE.md
  packages/graph/src/rpg.ts
  tests/graph.test.ts
Due: unit, integration, @pleaseai/rpg-graph

fix: apply AI code review suggestions from PR #74
  .github/workflows/rpg-encode.yml
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/src/embedding-manager.ts
  packages/graph/src/embeddings.ts
  packages/mcp/src/server.ts
  tests/embeddings.test.ts
  tests/encoder/voyage-4-nano.integration.test.ts
Due: unit, integration, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

feat(encoder): add git-managed vector embeddings with Float16 codec (#74)
  .github/workflows/rpg-encode.yml
  .rpg/config.json
  CLAUDE.md
  bun.lock
  package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/package.json
  packages/encoder/src/embedding-manager.ts
  packages/encoder/src/embedding.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/types.ts
  packages/graph/package.json
  packages/graph/src/embeddings.ts
  packages/graph/src/rpg.ts
  packages/mcp/src/server.ts
  packages/utils/src/llm.ts
  tests/embedding-manager.test.ts
  tests/embeddings.test.ts
  tests/encoder/voyage-4-nano.integration.test.ts
  tests/encoder/voyage-4-nano.test.ts
  tests/graph.test.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

chore(publish): add .npmignore to reduce package size from 232MB to 2.8MB
  .npmignore
Due: none

chore(publish): migrate to tsdown for bundling with .d.mts generation
  .agents/skills/tsdown/README.md
  .agents/skills/tsdown/SKILL.md
  .agents/skills/tsdown/references/README.md
  .agents/skills/tsdown/references/advanced-ci.md
  .agents/skills/tsdown/references/advanced-hooks.md
  .agents/skills/tsdown/references/advanced-plugins.md
  .agents/skills/tsdown/references/advanced-programmatic.md
  .agents/skills/tsdown/references/advanced-rolldown-options.md
  .agents/skills/tsdown/references/guide-getting-started.md
  .agents/skills/tsdown/references/guide-migrate-from-tsup.md
  .agents/skills/tsdown/references/option-cjs-default.md
  .agents/skills/tsdown/references/option-cleaning.md
  .agents/skills/tsdown/references/option-config-file.md
  .agents/skills/tsdown/references/option-css.md
  .agents/skills/tsdown/references/option-dependencies.md
  .agents/skills/tsdown/references/option-dts.md
  .agents/skills/tsdown/references/option-entry.md
  .agents/skills/tsdown/references/option-exe.md
  .agents/skills/tsdown/references/option-lint.md
  .agents/skills/tsdown/references/option-log-level.md
  .agents/skills/tsdown/references/option-minification.md
  .agents/skills/tsdown/references/option-output-directory.md
  .agents/skills/tsdown/references/option-output-format.md
  .agents/skills/tsdown/references/option-package-exports.md
  .agents/skills/tsdown/references/option-platform.md
  .agents/skills/tsdown/references/option-shims.md
  .agents/skills/tsdown/references/option-sourcemap.md
  .agents/skills/tsdown/references/option-target.md
  .agents/skills/tsdown/references/option-tree-shaking.md
  .agents/skills/tsdown/references/option-unbundle.md
  .agents/skills/tsdown/references/option-watch-mode.md
  .agents/skills/tsdown/references/recipe-react.md
  .agents/skills/tsdown/references/recipe-vue.md
  .agents/skills/tsdown/references/recipe-wasm.md
  .agents/skills/tsdown/references/reference-cli.md
  .npmignore
  bun.lock
  package.json
  skills-lock.json
  tsdown.config.ts
Due: none

chore: add tsdown skill to .claude/skills
  .claude/skills/tsdown
Due: none

chore(publish): migrate to tsdown with files allowlist (#95)
  .agents/skills/tsdown/README.md
  .agents/skills/tsdown/SKILL.md
  .agents/skills/tsdown/references/README.md
  .agents/skills/tsdown/references/advanced-ci.md
  .agents/skills/tsdown/references/advanced-hooks.md
  .agents/skills/tsdown/references/advanced-plugins.md
  .agents/skills/tsdown/references/advanced-programmatic.md
  .agents/skills/tsdown/references/advanced-rolldown-options.md
  .agents/skills/tsdown/references/guide-getting-started.md
  .agents/skills/tsdown/references/guide-migrate-from-tsup.md
  .agents/skills/tsdown/references/option-cjs-default.md
  .agents/skills/tsdown/references/option-cleaning.md
  .agents/skills/tsdown/references/option-config-file.md
  .agents/skills/tsdown/references/option-css.md
  .agents/skills/tsdown/references/option-dependencies.md
  .agents/skills/tsdown/references/option-dts.md
  .agents/skills/tsdown/references/option-entry.md
  .agents/skills/tsdown/references/option-exe.md
  .agents/skills/tsdown/references/option-lint.md
  .agents/skills/tsdown/references/option-log-level.md
  .agents/skills/tsdown/references/option-minification.md
  .agents/skills/tsdown/references/option-output-directory.md
  .agents/skills/tsdown/references/option-output-format.md
  .agents/skills/tsdown/references/option-package-exports.md
  .agents/skills/tsdown/references/option-platform.md
  .agents/skills/tsdown/references/option-shims.md
  .agents/skills/tsdown/references/option-sourcemap.md
  .agents/skills/tsdown/references/option-target.md
  .agents/skills/tsdown/references/option-tree-shaking.md
  .agents/skills/tsdown/references/option-unbundle.md
  .agents/skills/tsdown/references/option-watch-mode.md
  .agents/skills/tsdown/references/recipe-react.md
  .agents/skills/tsdown/references/recipe-vue.md
  .agents/skills/tsdown/references/recipe-wasm.md
  .agents/skills/tsdown/references/reference-cli.md
  .claude/skills/tsdown
  bun.lock
  package.json
  skills-lock.json
  tsdown.config.ts
Due: none

fix(publish): bundle workspace packages inline and enable npm provenance
  .github/workflows/release-please.yml
  .rpg/config.json
  package.json
  packages/cli/src/commands/sync.ts
  tsdown.config.ts
Due: unit, integration, @pleaseai/rpg-cli

refactor(sync): use VectorStore interface with LanceDB/local fallback
  packages/cli/src/commands/sync.ts
Due: unit, integration, @pleaseai/rpg-cli

refactor(sync): use LocalVectorStore as default for embedding index
  packages/cli/src/commands/sync.ts
Due: unit, integration, @pleaseai/rpg-cli

docs(claude): update store table, lancedb optional note, and bundling decision
  CLAUDE.md
Due: none

fix(sync): fix resource lifecycle, error handling, and silent failures
  CLAUDE.md
  packages/cli/src/commands/sync.ts
Due: unit, integration, @pleaseai/rpg-cli

fix(sync): rethrow non-MODULE_NOT_FOUND import errors in sync command
  packages/cli/src/commands/sync.ts
Due: unit, integration, @pleaseai/rpg-cli

chore: update bun lockfile after package.json dependency changes
  bun.lock
Due: none

fix(publish): bundle workspace packages inline, fix sync vector store, and enable npm provenance (#96)
  .github/workflows/release-please.yml
  .rpg/config.json
  CLAUDE.md
  bun.lock
  package.json
  packages/cli/src/commands/sync.ts
  tsdown.config.ts
Due: unit, integration, @pleaseai/rpg-cli

chore: bump packageManager to bun@1.3.9
  package.json
Due: none

chore: bump packageManager to bun@1.3.9 (#98)
  package.json
Due: none

ci: bump node-version from 22 to 24 in release workflow
  .github/workflows/release-please.yml
Due: none

ci: bump node-version from 22 to 24 in release workflow (#99)
  .github/workflows/release-please.yml
Due: none

refactor: move semantic cache from .please/cache to .rpg/cache
  .gitignore
  CLAUDE.md
  packages/encoder/src/cache.ts
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/rpg-encoder

refactor: move semantic cache from .please/cache to .rpg/cache (#100)
  .gitignore
  CLAUDE.md
  packages/encoder/src/cache.ts
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/rpg-encoder

ci: use create-pull-request action to bypass branch protection
  .github/workflows/rpg-encode.yml
  packages/cli/src/templates/rpg-encode.yml
Due: unit, integration, @pleaseai/rpg-cli

ci: use create-pull-request action to bypass branch protection (#101)
  .github/workflows/rpg-encode.yml
  packages/cli/src/templates/rpg-encode.yml
Due: unit, integration, @pleaseai/rpg-cli

ci: add explicit Gemini 3 Flash model flag to rpg-encode workflow
  .github/workflows/rpg-encode.yml
Due: none

ci: cache semantic-cache.db between workflow runs
  .github/workflows/rpg-encode.yml
Due: none

ci: add explicit Gemini 3 Flash model flag to rpg-encode workflow (#102)
  .github/workflows/rpg-encode.yml
Due: none

ci(rpg-encode): always embed with explicit model and fallback to local transformer
  .github/workflows/rpg-encode.yml
Due: none

ci(rpg-encode): always embed with explicit model and fallback to local transformer (#103)
  .github/workflows/rpg-encode.yml
Due: none

refactor(encoder): remove env-key-based provider auto-detection
  .github/workflows/rpg-encode.yml
  packages/cli/src/templates/rpg-encode.yml
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/semantic.ts
  packages/graph/src/rpg.ts
  packages/utils/src/llm.ts
  tests/graph.test.ts
  tests/semantic-retry.test.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-cli

fix(llm): replace ineffective try-catch with null check in completeJSON
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/rpg-utils

refactor(encoder): remove env-key-based provider auto-detection (#104)
  .github/workflows/rpg-encode.yml
  packages/cli/src/templates/rpg-encode.yml
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/semantic.ts
  packages/graph/src/rpg.ts
  packages/utils/src/llm.ts
  tests/graph.test.ts
  tests/semantic-retry.test.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-cli

feat(encoder): achieve full parity with Python reference encoder
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/types.ts
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/src/semantic.ts
  tests/reorganization/domain-discovery.test.ts
  tests/reorganization/reorganization.integration.test.ts
Due: unit, integration, @pleaseai/rpg-encoder

fix(encoder): propagate Phase 2 errors to warnings and remove unused BatchParseResult
  packages/encoder/src/encoder.ts
  packages/encoder/src/semantic.ts
Due: unit, integration, @pleaseai/rpg-encoder

fix(encoder): address code review issues from PR #105
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/types.ts
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/semantic.ts
  tests/reorganization/hierarchy-builder.test.ts
  tests/reorganization/reorganization.integration.test.ts
Due: unit, integration, @pleaseai/rpg-encoder

fix(encoder): address PR review issues — type safety, error handling, and test coverage
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/types.ts
  packages/encoder/src/semantic.ts
  tests/evolution/evolution.integration.test.ts
  tests/evolution/judge-regenerate.test.ts
  tests/semantic-retry.test.ts
Due: unit, integration, @pleaseai/rpg-encoder

feat(utils): add Memory class and multi-turn LLM generation
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/llm.ts
  packages/utils/src/memory.ts
  tests/utils/llm.test.ts
  tests/utils/memory.test.ts
Due: unit, integration, @pleaseai/rpg-utils

chore(encoder): apply AI code review suggestions
  packages/encoder/src/evolution/types.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/semantic.ts
Due: unit, integration, @pleaseai/rpg-encoder
