Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-zerorepo, @pleaseai/soop-mcp, @pleaseai/soop-cli

fix(llm): broaden googleSettings provider mismatch warning scope
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/soop-utils

fix: rename GOOGLE_API_KEY to GOOGLE_GENERATIVE_AI_API_KEY
  .github/workflows/soop-encode.yml
  README.md
  packages/cli/src/templates/soop-encode.yml
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/semantic.ts
  packages/encoder/tests/encoder.test.ts
  packages/utils/src/llm.ts
  scripts/bump-version.ts
  scripts/encode-nextjs.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-encoder, @pleaseai/soop-cli

feat(llm): add per-call options and improve structured output error handling
  packages/encoder/src/encoder.ts
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/semantic.ts
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-encoder

fix(llm): increase default maxTokens and add per-phase output token limits
  packages/encoder/src/encoder.ts
  packages/encoder/src/semantic.ts
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-encoder

fix(graph): handle data_flow edge type in attrsToEdge and edgeToAttrs
  packages/graph/src/adapters.ts
Due: unit, integration, @pleaseai/soop-graph

fix(encoder): deduplicate data flow edges by (source, target) before insertion
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder

test(graph,llm): add data_flow adapter round-trip and per-call maxTokens tests
  packages/graph/tests/graph.test.ts
  packages/utils/tests/llm.test.ts
Due: unit, integration

fix(encoder,llm): address review issues from PR #169
  packages/encoder/src/encoder.ts
  packages/encoder/src/semantic.ts
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-encoder

test(encoder,llm): add missing tests identified in PR #169 review
  packages/encoder/tests/encoder.test.ts
  packages/encoder/tests/semantic.test.ts
  packages/utils/tests/llm.test.ts
Due: unit, integration

chore(llm): apply code review suggestions from PR #169
  packages/encoder/tests/semantic.test.ts
  packages/utils/src/llm.ts
  packages/utils/tests/llm.test.ts
Due: unit, integration, @pleaseai/soop-utils

fix(store,encoder): support data_flow multigraph via UNIQUE(source,target,type,data_id)
  packages/encoder/src/encoder.ts
  packages/store/src/sqlite/graph-store.ts
  packages/store/tests/store/graph-store.test.ts
Due: unit, integration, @pleaseai/soop-store, @pleaseai/soop-encoder

feat(encoder): change default LLM provider to google/gemini-3.1-flash-lite-preview (#169)
  .github/workflows/soop-encode.yml
  CLAUDE.md
  README.md
  bun.lock
  package.json
  packages/cli/src/templates/soop-encode.yml
  packages/encoder/package.json
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/semantic.ts
  packages/encoder/tests/encoder.test.ts
  packages/encoder/tests/semantic.test.ts
  packages/graph/src/adapters.ts
  packages/graph/tests/graph.test.ts
  packages/store/src/sqlite/graph-store.ts
  packages/store/tests/store/graph-store.test.ts
  packages/utils/package.json
  packages/utils/src/llm.ts
  packages/utils/tests/llm.test.ts
  scripts/bump-version.ts
  scripts/encode-nextjs.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-cli

fix(store): use empty string sentinel for data_id and wrap migration in transaction
  packages/store/src/sqlite/graph-store.ts
Due: unit, integration, @pleaseai/soop-store

fix(store): use String() for explicit df_data_id conversion
  packages/store/src/sqlite/graph-store.ts
Due: unit, integration, @pleaseai/soop-store

fix(store): use empty string sentinel for data_id and wrap migration in transaction (#170)
  packages/store/src/sqlite/graph-store.ts
Due: unit, integration, @pleaseai/soop-store

chore: remove group-pull-request-title-pattern from release-please config
  release-please-config.json
Due: none

chore: remove group-pull-request-title-pattern from release-please config (#172)
  release-please-config.json
Due: none

fix(mcp): replace top-level await with promise chain for cross-compilation
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/soop-mcp

fix(mcp): replace top-level await with promise chain for cross-compilation (#173)
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/soop-mcp

fix: add workspace dependencies to trigger release-please cascade bumps
  packages/soop/package.json
Due: unit, integration

fix: move workspace deps to devDependencies to prevent install failure
  packages/soop/package.json
Due: unit, integration

fix(settings): update plugin reference for claude-md-management
  .claude/settings.json
Due: none

docs: add gotcha for soop workspace deps in devDependencies
  CLAUDE.md
Due: none

fix: add workspace dependencies to trigger release-please cascade bumps (#175)
  .claude/settings.json
  CLAUDE.md
  packages/soop/package.json
Due: unit, integration

fix(ci): use pleaeai-bot identity for bun.lock update commits
  .github/workflows/release-please.yml
Due: none

fix(ci): use pleaeai-bot identity for bun.lock update commits (#178)
  .github/workflows/release-please.yml
Due: none

fix(release): enable include-component-in-tag for packages/soop
  release-please-config.json
Due: none

fix(release): enable include-component-in-tag for packages/soop (#179)
  release-please-config.json
Due: none

fix(soop): strip workspace devDependencies on npm publish
  packages/soop/package.json
Due: unit, integration

docs: add gotchas for husky warnings, submodule dirty state, and prepack pattern
  CLAUDE.md
Due: none

fix(soop): use backup file in postpack instead of git checkout
  packages/soop/package.json
Due: unit, integration

fix(soop): strip workspace devDependencies on npm publish (#181)
  CLAUDE.md
  packages/soop/package.json
Due: unit, integration

fix(ci): use monorepo releases_created output for build-binaries and publish jobs
  .github/workflows/release-please.yml
Due: none

fix(ci): use monorepo releases_created output for build-binaries and publish jobs (#183)
  .github/workflows/release-please.yml
Due: none

fix(ci): gate build-binaries and publish on soop_release_created flag
  .github/workflows/release-please.yml
Due: none

fix(ci): gate build-binaries and publish on soop_release_created flag (#184)
  .github/workflows/release-please.yml
Due: none

fix(ci): use Node.js 22 LTS in publish job to fix tree-sitter build
  .github/workflows/release-please.yml
  .nvmrc
Due: none

fix(ci): add setup-node with node-version-file to all CI jobs
  .github/workflows/ci.yml
Due: none

Path conditions:
  unit: any of: packages/
  integration: any of: packages/
  @pleaseai/soop-utils: any of: packages/utils/src/**
  @pleaseai/soop-store: any of: packages/store/src/**
  @pleaseai/soop-graph: any of: packages/graph/src/**
  @pleaseai/soop-encoder: any of: packages/encoder/src/**
  @pleaseai/soop-tools: any of: packages/tools/src/**
  @pleaseai/soop-zerorepo: any of: packages/zerorepo/src/**
  @pleaseai/soop-mcp: any of: packages/mcp/src/**
  @pleaseai/soop-cli: any of: packages/cli/src/**
