Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-store, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-tools, @pleaseai/rpg-zerorepo, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  unit:
    paths:
      - packages/
    carryforward: true
  integration:
    paths:
      - packages/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 80%
  individual_components:
    - component_id: utils
      name: "@pleaseai/rpg-utils"
      paths:
        - packages/utils/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: store
      name: "@pleaseai/rpg-store"
      paths:
        - packages/store/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: graph
      name: "@pleaseai/rpg-graph"
      paths:
        - packages/graph/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: encoder
      name: "@pleaseai/rpg-encoder"
      paths:
        - packages/encoder/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: tools
      name: "@pleaseai/rpg-tools"
      paths:
        - packages/tools/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: zerorepo
      name: "@pleaseai/rpg-zerorepo"
      paths:
        - packages/zerorepo/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: mcp
      name: "@pleaseai/rpg-mcp"
      paths:
        - packages/mcp/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: cli
      name: "@pleaseai/rpg-cli"
      paths:
        - packages/cli/src/**
      flag_regexes:
        - unit
        - integration

fix: use unique temp directory instead of shared /tmp path
  packages/store/src/default-context-store.ts
Due: unit, integration, @pleaseai/rpg-store

fix(cli,utils): address review findings for claude-code provider
  packages/cli/src/cli.ts
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-cli

fix(utils): address review issues in consola logging migration
  CLAUDE.md
  packages/encoder/src/encoder.ts
  packages/mcp/src/interactive/encoder.ts
  packages/mcp/src/server.ts
  packages/utils/src/llm.ts
  packages/utils/src/logger.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-encoder, @pleaseai/rpg-mcp

refactor(utils): move ASTParser to ast/parser.ts with modular imports
  packages/utils/package.json
  packages/utils/src/ast/index.ts
  packages/utils/src/ast/parser.ts
  packages/utils/src/index.ts
  tests/ast.test.ts
Due: unit, integration, @pleaseai/rpg-utils

feat(utils): add AST types separation and tree-sitter language packages
  bun.lock
  package.json
  packages/utils/package.json
  packages/utils/src/ast/types.ts
  tests/ast-treesitter-packages.test.ts
  tests/ast-types.test.ts
Due: unit, integration, @pleaseai/rpg-utils

fix(ast): address review findings — version pinning, parent extraction, type cleanup
  package.json
  packages/utils/src/ast/languages/go.ts
  packages/utils/src/ast/parser.ts
  packages/utils/src/ast/types.ts
  tests/ast-go.test.ts
  tests/ast-languages.test.ts
  tests/ast-rust.test.ts
  tests/ast-types.test.ts
  tests/ast.test.ts
Due: unit, integration, @pleaseai/rpg-utils

docs: update CLAUDE.md with supported AST languages
  CLAUDE.md
Due: none

fix: apply AI code review suggestions
  packages/cli/src/commands/sync.ts
  packages/cli/src/templates/rpg-encode.yml
  packages/graph/src/rpg.ts
  packages/utils/src/git-helpers.ts
  tests/cli-init-sync.integration.test.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-graph, @pleaseai/rpg-cli

fix: resolve SonarQube S1848 unused object instantiation in tests
  tests/utils/llm.test.ts
Due: none

chore: extract Codex model pricing into shared constant
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/rpg-utils

fix(submodule): use HTTPS URL for RPG-ZeroRepo submodule
  .gitmodules
Due: none

feat(submodule): add Microsoft RPG-ZeroRepo as vendor submodule (#75)
  .gitmodules
Due: none

ci: enable Turbo Remote Cache in GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .gitignore
  turbo.json
Due: none

chore(please): initialize implementation setup for #81
  .please/memory/session-summary.md
  .please/tasklist.json
Due: none

feat(cli): expose batch token parameters in encode and evolve commands
  packages/cli/src/cli.ts
  tests/cli-batch-options.test.ts
Due: unit, integration, @pleaseai/rpg-cli

feat(encoder): integrate call/inherit/implement edges into injectDependencies (#80)
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/encoder.ts
  packages/graph/src/rpg.ts
  tests/encoder.test.ts
Due: unit, integration, @pleaseai/rpg-graph, @pleaseai/rpg-encoder

fix(encoder): resolve SonarQube code quality issues in PR #83
  packages/encoder/src/dependency-graph.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/symbol-resolver.ts
Due: unit, integration, @pleaseai/rpg-encoder

docs(vendor-comparison): mark DependencyGraph and token-aware batching as completed
  docs/vendor-comparison.md
Due: none

docs(vendor-comparison): mark DependencyGraph and token-aware batching as completed (#88)
  docs/vendor-comparison.md
Due: none

feat(encoder): modify CallExtractor to preserve receiver info in CallSite
  packages/encoder/src/call-extractor.ts
  tests/call-extractor.test.ts
Due: unit, integration, @pleaseai/rpg-encoder

feat(encoder): add exports and integration tests for type-aware call resolution
  packages/encoder/src/index.ts
  tests/encoder/type-aware-resolution.integration.test.ts
Due: unit, integration, @pleaseai/rpg-encoder

fix(encoder): wire inferAttributeType into resolveQualifiedCall variable branch
  packages/encoder/src/type-inferrer.ts
  tests/type-inferrer.test.ts
Due: unit, integration, @pleaseai/rpg-encoder

refactor(encoder): simplify type-aware call resolution for clarity
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/type-inference-patterns.ts
  packages/encoder/src/type-inferrer.ts
Due: unit, integration, @pleaseai/rpg-encoder

refactor(encoder): reduce cognitive complexity and fix optional chain issues
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/type-inferrer.ts
Due: unit, integration, @pleaseai/rpg-encoder

docs(vendor-comparison): fix dep_graph.py path and method grouping in table
  docs/vendor-comparison.md
Due: none

docs(vendor-comparison): mark type-aware call resolution as completed (PR #90) (#91)
  docs/vendor-comparison.md
  packages/encoder/src/index.ts
Due: unit, integration, @pleaseai/rpg-encoder

fix(build): restore lancedb as optional, add missing externals and tree-sitter deps
  bun.lock
  package.json
  packages/store/package.json
  tests/utils/vector-hybrid.test.ts
Due: unit, integration

fix(store): cleanup temp dir on close and throw on vector dimension mismatch
  packages/store/src/local/index.ts
  packages/store/src/local/vector-store.ts
  tests/store/local-vector-store.test.ts
Due: unit, integration, @pleaseai/rpg-store

feat(store): add zero-dependency local fallback stores and make native deps optional (#92)
  bun.lock
  package.json
  packages/encoder/src/semantic-search.ts
  packages/mcp/src/server.ts
  packages/store/package.json
  packages/store/src/default-context-store.ts
  packages/store/src/local/graph-store.ts
  packages/store/src/local/index.ts
  packages/store/src/local/text-search-store.ts
  packages/store/src/local/vector-store.ts
  packages/store/src/vector-store.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/vector.ts
  tests/encoder/encoder.integration.test.ts
  tests/encoder/hybrid.integration.test.ts
  tests/encoder/integration.test.ts
  tests/encoder/semantic-search.test.ts
  tests/store/local-graph-store.test.ts
  tests/store/local-text-search-store.test.ts
  tests/store/local-vector-store.test.ts
  tests/tools.test.ts
  tests/utils/vector-hybrid.test.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-store, @pleaseai/rpg-encoder, @pleaseai/rpg-mcp

feat(encoder): add git-managed vector embeddings with Float16 codec
  packages/cli/src/cli.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/templates/rpg-encode.yml
  packages/encoder/package.json
  packages/encoder/src/embedding-manager.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/types.ts
  packages/graph/package.json
  packages/graph/src/embeddings.ts
  packages/mcp/src/server.ts
  tests/embedding-manager.test.ts
  tests/embeddings.test.ts
Due: unit, integration, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

fix(dependencies): move better-sqlite3 to optionalDependencies
  bun.lock
Due: none

fix(mcp): replace non-existent VectorStore import with LocalVectorStore
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/rpg-mcp

fix(deps): move native modules to correct dependency sections
  bun.lock
  package.json
Due: none

chore(deps): upgrade ai-sdk-provider-claude-code to 3.4.2
  bun.lock
  package.json
Due: none

fix(cli): suppress missing .env file warnings on startup
  packages/cli/src/cli.ts
Due: unit, integration, @pleaseai/rpg-cli

fix(llm): enable claude-code provider inside existing Claude Code sessions
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/rpg-utils

fix(build): copy CLI template assets to dist after bundling
  package.json
Due: none

feat(encoder): add voyage-4-nano support with mean pooling
  packages/cli/src/cli.ts
  packages/cli/src/templates/rpg-encode.yml
  packages/encoder/src/embedding.ts
Due: unit, integration, @pleaseai/rpg-encoder, @pleaseai/rpg-cli

test(encoder): add voyage-4-nano unit and integration tests
  tests/encoder/voyage-4-nano.integration.test.ts
  tests/encoder/voyage-4-nano.test.ts
Due: none
