Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-store, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-tools, @pleaseai/rpg-zerorepo, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

feat(encoder): achieve full parity with Python reference encoder (#105)
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/types.ts
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/src/semantic.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/llm.ts
  packages/utils/src/memory.ts
  tests/evolution/evolution.integration.test.ts
  tests/evolution/judge-regenerate.test.ts
  tests/reorganization/domain-discovery.test.ts
  tests/reorganization/hierarchy-builder.test.ts
  tests/reorganization/reorganization.integration.test.ts
  tests/semantic-retry.test.ts
  tests/utils/llm.test.ts
  tests/utils/memory.test.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-encoder

feat(ast): add C#, C/C++, Ruby, Kotlin language support and upgrade tree-sitter
  bun.lock
  package.json
  packages/encoder/package.json
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/encoder.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/type-inferrer.ts
  packages/utils/package.json
  packages/utils/src/ast/languages/c-cpp.ts
  packages/utils/src/ast/languages/csharp.ts
  packages/utils/src/ast/languages/index.ts
  packages/utils/src/ast/languages/kotlin.ts
  packages/utils/src/ast/languages/ruby.ts
  packages/utils/src/ast/parser.ts
  packages/utils/src/ast/types.ts
  tests/ast-c-cpp.test.ts
  tests/ast-csharp.test.ts
  tests/ast-kotlin.test.ts
  tests/ast-languages.test.ts
  tests/ast-ruby.test.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-encoder

chore: apply AI code review suggestions
  packages/encoder/src/call-extractor.ts
  packages/utils/src/ast/parser.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-encoder

chore: apply AI code review suggestions
  packages/encoder/src/inheritance-extractor.ts
  packages/utils/src/ast/parser.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-encoder

feat(ast): add C#, C/C++, Ruby, Kotlin language support and upgrade tree-sitter (#107)
  bun.lock
  package.json
  packages/encoder/package.json
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/encoder.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/type-inferrer.ts
  packages/utils/package.json
  packages/utils/src/ast/languages/c-cpp.ts
  packages/utils/src/ast/languages/csharp.ts
  packages/utils/src/ast/languages/index.ts
  packages/utils/src/ast/languages/kotlin.ts
  packages/utils/src/ast/languages/ruby.ts
  packages/utils/src/ast/parser.ts
  packages/utils/src/ast/types.ts
  tests/ast-c-cpp.test.ts
  tests/ast-csharp.test.ts
  tests/ast-kotlin.test.ts
  tests/ast-languages.test.ts
  tests/ast-ruby.test.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-encoder

feat(settings): add experimental agent teams configuration
  .claude/settings.json
Due: none

style(encoder): reorder type imports before value imports in evolve.ts
  packages/encoder/src/evolution/evolve.ts
Due: unit, integration, @pleaseai/rpg-encoder

chore(memory): untrack session-summary.md now covered by gitignore
  .please/memory/session-summary.md
Due: none

chore(memory): untrack session-summary.md (covered by .gitignore)
  .please/memory/session-summary.md
Due: none

style(encoder): reorder type imports and update session memory (#108)
  .claude/settings.json
  .please/memory/session-summary.md
  packages/encoder/src/evolution/evolve.ts
Due: unit, integration, @pleaseai/rpg-encoder

ci(workflow): add 10-minute timeout to rpg-encode job
  .github/workflows/rpg-encode.yml
Due: none

ci(workflow): add 10-minute timeout to rpg-encode job (#109)
  .github/workflows/rpg-encode.yml
Due: none

feat(distribution): add cross-platform binary distribution via Bun compile
  .github/workflows/release-please.yml
  .gitignore
  bin/rpg
  bin/rpg-mcp
  package.json
  scripts/generate-packages.ts
  scripts/launcher/cli.ts
  scripts/launcher/mcp.ts
  tsdown.config.ts
Due: none

chore: apply AI code review suggestions from PR #110
  scripts/generate-packages.ts
Due: none

ci: add build matrix and workflow_dispatch for cross-platform publishing
  .github/workflows/release-please.yml
  scripts/generate-packages.ts
Due: none

feat(distribution): add cross-platform binary distribution via Bun compile (#110)
  .github/workflows/release-please.yml
  .gitignore
  bin/rpg
  bin/rpg-mcp
  package.json
  scripts/generate-packages.ts
  scripts/launcher/cli.ts
  scripts/launcher/mcp.ts
  tsdown.config.ts
Due: none

fix(build): resolve Bun compile errors for cross-platform binary distribution
  packages/cli/src/cli.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/type-inferrer.ts
  packages/graph/src/rpg.ts
  packages/mcp/src/server.ts
  packages/utils/src/ast/languages/c-cpp.ts
  packages/utils/src/ast/languages/csharp.ts
  packages/utils/src/ast/languages/go.ts
  packages/utils/src/ast/languages/index.ts
  packages/utils/src/ast/languages/java.ts
  packages/utils/src/ast/languages/kotlin.ts
  packages/utils/src/ast/languages/python.ts
  packages/utils/src/ast/languages/ruby.ts
  packages/utils/src/ast/languages/rust.ts
  packages/utils/src/ast/languages/typescript.ts
  packages/utils/src/ast/parser.ts
  scripts/generate-packages.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

fix(build): improve optional module error handling in tree-sitter catch blocks
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/type-inferrer.ts
  packages/utils/src/ast/languages/c-cpp.ts
  packages/utils/src/ast/languages/csharp.ts
  packages/utils/src/ast/languages/go.ts
  packages/utils/src/ast/languages/java.ts
  packages/utils/src/ast/languages/kotlin.ts
  packages/utils/src/ast/languages/python.ts
  packages/utils/src/ast/languages/ruby.ts
  packages/utils/src/ast/languages/rust.ts
  packages/utils/src/ast/languages/typescript.ts
  packages/utils/src/ast/parser.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-encoder

fix(build): resolve Bun compile errors for cross-platform binary distribution (#114)
  packages/cli/src/cli.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/type-inferrer.ts
  packages/graph/src/rpg.ts
  packages/mcp/src/server.ts
  packages/utils/src/ast/languages/c-cpp.ts
  packages/utils/src/ast/languages/csharp.ts
  packages/utils/src/ast/languages/go.ts
  packages/utils/src/ast/languages/index.ts
  packages/utils/src/ast/languages/java.ts
  packages/utils/src/ast/languages/kotlin.ts
  packages/utils/src/ast/languages/python.ts
  packages/utils/src/ast/languages/ruby.ts
  packages/utils/src/ast/languages/rust.ts
  packages/utils/src/ast/languages/typescript.ts
  packages/utils/src/ast/parser.ts
  scripts/generate-packages.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

chore(style): fix import ordering across packages
  .github/workflows/release-please.yml
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/graph/src/rpg.ts
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/rpg-graph, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

chore(style): fix import ordering across packages (#116)
  .github/workflows/release-please.yml
  packages/cli/src/cli.ts
  packages/cli/src/commands/sync.ts
  packages/graph/src/rpg.ts
  packages/mcp/src/server.ts
Due: unit, integration, @pleaseai/rpg-graph, @pleaseai/rpg-mcp, @pleaseai/rpg-cli

chore: add .worktreeinclude with RPG-relevant entries
  .worktreeinclude
Due: none

chore: add ESLint cache to worktreeinclude
  .worktreeinclude
Due: none

chore: add .worktreeinclude with RPG-relevant entries (#118)
  .worktreeinclude
Due: none

feat(repo): add packages/repo as the published umbrella package
  packages/repo/bin/repo
  packages/repo/bin/repo-mcp
  packages/repo/package.json
  packages/repo/src/index.ts
  scripts/generate-packages.ts
  scripts/launcher/cli.ts
  scripts/launcher/mcp.ts
  tsdown.config.ts
Due: unit, integration

refactor(source): update @pleaseai/rpg-* imports to @pleaseai/repo-*
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/data-flow.ts
  packages/encoder/src/dependency-graph.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/embedding-manager.ts
  packages/encoder/src/embedding.ts
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/diff-parser.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/operations.ts
  packages/encoder/src/evolution/semantic-router.ts
  packages/encoder/src/evolution/types.ts
  packages/encoder/src/grounding.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/reorganization/domain-discovery.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/semantic-search.ts
  packages/encoder/src/semantic.ts
  packages/encoder/src/symbol-resolver.ts
  packages/encoder/src/type-inferrer.ts
  packages/graph/src/adapters.ts
  packages/graph/src/rpg.ts
  packages/store/src/index.ts
  packages/tools/src/explore.ts
  packages/tools/src/fetch.ts
  packages/tools/src/search.ts
  packages/utils/src/git-helpers.ts
  packages/zerorepo/src/zerorepo.ts
  src/index.ts
Due: unit, integration, @pleaseai/rpg-utils, @pleaseai/rpg-store, @pleaseai/rpg-graph, @pleaseai/rpg-encoder, @pleaseai/rpg-tools, @pleaseai/rpg-zerorepo

refactor(cli): rebrand CLI commands and paths from rpg to repo
  bin/rpg
  bin/rpg-mcp
  packages/cli/src/cli.ts
  packages/cli/src/commands/hooks.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/templates/repo-encode.yml
Due: unit, integration, @pleaseai/rpg-cli

refactor(mcp): rename MCP tools from rpg_* to repo_*
  packages/mcp/src/interactive/encoder.ts
  packages/mcp/src/interactive/state.ts
  packages/mcp/src/interactive/tools.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools.ts
Due: unit, integration, @pleaseai/rpg-mcp

ci: update workflows and config for repo branding
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/repo-encode.yml
  .gitignore
  .release-please-manifest.json
  codecov.yml
  release-please-config.json
  tsconfig.json
  vitest.config.ts
Due: none

docs: update README and CLAUDE.md for repo please rebrand
  CLAUDE.md
  README.md
Due: none

docs(readme): add Beads as related project reference
  README.md
Due: none

docs(readme): add RepoGraph as related project reference
  README.md
Due: none

chore: remove stale .repo/config.json after rename to .soop/
  .repo/config.json
Due: none

build(release): sync platform optionalDependencies via release-please extra-files
  release-please-config.json
Due: none

build(release): add bump-version script for optional dependency sync
  scripts/bump-version.ts
Due: none

Path conditions:
  unit: any of: packages/
  integration: any of: packages/
  @pleaseai/rpg-utils: any of: packages/utils/src/**
  @pleaseai/rpg-store: any of: packages/store/src/**
  @pleaseai/rpg-graph: any of: packages/graph/src/**
  @pleaseai/rpg-encoder: any of: packages/encoder/src/**
  @pleaseai/rpg-tools: any of: packages/tools/src/**
  @pleaseai/rpg-zerorepo: any of: packages/zerorepo/src/**
  @pleaseai/rpg-mcp: any of: packages/mcp/src/**
  @pleaseai/rpg-cli: any of: packages/cli/src/**
