Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-zerorepo, @pleaseai/soop-mcp, @pleaseai/soop-cli

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  unit:
    paths:
      - packages/
    carryforward: true
  integration:
    paths:
      - packages/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 80%
  individual_components:
    - component_id: utils
      name: '@pleaseai/soop-utils'
      paths:
        - packages/utils/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: store
      name: '@pleaseai/soop-store'
      paths:
        - packages/store/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: graph
      name: '@pleaseai/soop-graph'
      paths:
        - packages/graph/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: encoder
      name: '@pleaseai/soop-encoder'
      paths:
        - packages/encoder/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: tools
      name: '@pleaseai/soop-tools'
      paths:
        - packages/tools/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: zerorepo
      name: '@pleaseai/soop-zerorepo'
      paths:
        - packages/zerorepo/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: mcp
      name: '@pleaseai/soop-mcp'
      paths:
        - packages/mcp/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: cli
      name: '@pleaseai/soop-cli'
      paths:
        - packages/cli/src/**
      flag_regexes:
        - unit
        - integration

chore: add tree-sitter packages to trustedDependencies (#143)
  bun.lock
  package.json
  packages/soop/package.json
Due: unit, integration

refactor(launcher): extract shared launcher logic into util.ts
  scripts/bump-version.ts
  scripts/launcher/cli.ts
  scripts/launcher/mcp.ts
  scripts/launcher/util.ts
Due: none

chore: update Claude plugin registry to use code-intelligence source
  .claude/settings.json
Due: none

chore: update settings.json for plugin auto-update and environment variables
  .claude/settings.json
Due: none

chore: update Claude plugin registry to use code-intelligence source (#145)
  .claude/settings.json
Due: none

chore: rename plugin registry key from engineering-standards to standards
  .claude/settings.json
Due: none

chore: rename plugin registry key from engineering-standards to standards (#146)
  .claude/settings.json
Due: none

chore: setup husky with main branch protection hook
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  bun.lock
  package.json
Due: none

Update .husky/pre-commit
  .husky/pre-commit
Due: none

chore: setup husky with main branch protection hook (#148)
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  bun.lock
  package.json
Due: none

feat(encoder): support flexible 2-5 level hierarchy and evolution area creation
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/operations.ts
  packages/encoder/src/evolution/semantic-router.ts
  packages/encoder/src/evolution/types.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/tests/evolution/semantic-router.test.ts
  packages/encoder/tests/reorganization/hierarchy-builder.test.ts
Due: unit, integration, @pleaseai/soop-encoder

feat(graph,encoder,tools): migrate DataFlowEdge to graph store and add dependencyType filter
  packages/encoder/src/data-flow.ts
  packages/encoder/src/encoder.ts
  packages/encoder/tests/data-flow.test.ts
  packages/encoder/tests/encoder.test.ts
  packages/graph/src/adapters.ts
  packages/graph/src/edge.ts
  packages/graph/src/index.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/graph.test.ts
  packages/mcp/src/tools.ts
  packages/tools/src/explore.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-mcp

fix(encoder,graph): fix dependency edge injection regression and improve robustness
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/operations.ts
  packages/encoder/src/evolution/semantic-router.ts
  packages/encoder/src/evolution/types.ts
  packages/graph/src/adapters.ts
  packages/graph/src/index.ts
  packages/graph/src/rpg.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder

fix(encoder,graph): apply AI code review suggestions
  packages/encoder/src/evolution/semantic-router.ts
  packages/encoder/tests/evolution/semantic-router.test.ts
  packages/encoder/tests/reorganization/hierarchy-builder.test.ts
  packages/graph/src/adapters.ts
  packages/graph/tests/graph.test.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder

fix: resolve SonarQube issues - security, code smells, and bugs
  .github/workflows/ci.yml
  packages/cli/src/cli.ts
  packages/encoder/tests/encoder/grounding.test.ts
  packages/encoder/tests/encoder/huggingface-embedding.integration.test.ts
  packages/encoder/tests/encoder/voyage-4-nano.integration.test.ts
  packages/mcp/src/server.ts
  packages/mcp/tests/interactive-encoder.test.ts
  packages/utils/tests/llm.test.ts
  scripts/encode-nextjs.ts
  scripts/generate-packages.ts
  scripts/launcher/cli.ts
  scripts/launcher/mcp.ts
Due: unit, integration, @pleaseai/soop-mcp, @pleaseai/soop-cli

fix(encoder): throw on vector dimension mismatch in cosineSimilarity
  packages/encoder/src/evolution/semantic-router.ts
  packages/encoder/tests/encoder/huggingface-embedding.integration.test.ts
  packages/encoder/tests/evolution/semantic-router.test.ts
Due: unit, integration, @pleaseai/soop-encoder

feat(encoder): support flexible 2-5 level hierarchy and evolution area creation (#155)
  .github/workflows/ci.yml
  packages/cli/src/cli.ts
  packages/encoder/src/data-flow.ts
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/evolution/operations.ts
  packages/encoder/src/evolution/semantic-router.ts
  packages/encoder/src/evolution/types.ts
  packages/encoder/src/reorganization/hierarchy-builder.ts
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/tests/data-flow.test.ts
  packages/encoder/tests/encoder.test.ts
  packages/encoder/tests/encoder/grounding.test.ts
  packages/encoder/tests/encoder/huggingface-embedding.integration.test.ts
  packages/encoder/tests/encoder/voyage-4-nano.integration.test.ts
  packages/encoder/tests/evolution/semantic-router.test.ts
  packages/encoder/tests/reorganization/hierarchy-builder.test.ts
  packages/graph/src/adapters.ts
  packages/graph/src/edge.ts
  packages/graph/src/index.ts
  packages/graph/src/rpg.ts
  packages/graph/tests/graph.test.ts
  packages/mcp/src/server.ts
  packages/mcp/src/tools.ts
  packages/mcp/tests/interactive-encoder.test.ts
  packages/tools/src/explore.ts
  packages/utils/tests/llm.test.ts
  scripts/encode-nextjs.ts
  scripts/generate-packages.ts
  scripts/launcher/cli.ts
  scripts/launcher/mcp.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-mcp, @pleaseai/soop-cli

feat(graph,encoder): persist DependencyEdge symbols and add cross-boundary excerpts
  packages/encoder/src/encoder.ts
  packages/encoder/tests/encoder.test.ts
  packages/graph/src/adapters.ts
  packages/graph/tests/graph.test.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder

fix(graph): remove premature DataFlowEdge handling from Unit 1 branch
  packages/graph/src/adapters.ts
Due: unit, integration, @pleaseai/soop-graph

chore: apply AI code review suggestions
  packages/encoder/src/encoder.ts
  packages/encoder/tests/encoder.test.ts
  packages/graph/src/adapters.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder

fix(encoder,graph): address security and quality issues from code review
  packages/encoder/src/encoder.ts
  packages/encoder/tests/encoder.test.ts
  packages/graph/src/adapters.ts
  packages/graph/tests/graph.test.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder

fix(encoder): fix path traversal pre-check when repoPath is a symlink
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): escape backticks in cross-boundary excerpts to mitigate prompt injection
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder

feat(graph,encoder): persist DependencyEdge symbols and add cross-boundary excerpts (#156)
  packages/encoder/src/encoder.ts
  packages/encoder/tests/encoder.test.ts
  packages/graph/src/adapters.ts
  packages/graph/tests/graph.test.ts
Due: unit, integration, @pleaseai/soop-graph, @pleaseai/soop-encoder

style: reformat else block in bump-version script
  scripts/bump-version.ts
Due: none

docs: add vendor/RPG-ZeroRepo reference implementation guide
  CLAUDE.md
Due: none

chore: apply AI code review suggestions
  CLAUDE.md
Due: none

docs: add vendor/RPG-ZeroRepo reference implementation guide (#165)
  CLAUDE.md
Due: none

feat(encoder): improve semantic extraction quality from reference analysis
  packages/encoder/src/encoder.ts
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/src/semantic.ts
Due: unit, integration, @pleaseai/soop-encoder

feat(encoder): align with Python reference — Gap 2 follow-up and Gap 4 batch improvements
  packages/encoder/src/encoder.ts
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/src/semantic.ts
Due: unit, integration, @pleaseai/soop-encoder

chore: add type validation for LLM response fields in runFileSummaryBatch
  packages/encoder/src/semantic.ts
Due: unit, integration, @pleaseai/soop-encoder

feat(encoder): improve semantic extraction quality from reference analysis (#166)
  packages/encoder/src/encoder.ts
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/src/semantic.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): use composite keys in batch prompts to prevent name collision
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/src/semantic.ts
  packages/encoder/tests/semantic-composite-key.test.ts
Due: unit, integration, @pleaseai/soop-encoder

chore: apply AI code review suggestions
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/src/semantic.ts
  packages/encoder/tests/semantic-composite-key.test.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): use composite keys in batch prompts to prevent name collision (#168)
  packages/encoder/src/reorganization/prompts.ts
  packages/encoder/src/semantic.ts
  packages/encoder/tests/semantic-composite-key.test.ts
Due: unit, integration, @pleaseai/soop-encoder

feat(encoder): change default LLM provider to google/gemini-3.1-flash-lite-preview
  CLAUDE.md
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/evolve.ts
  packages/encoder/src/semantic.ts
  packages/utils/src/llm.ts
  packages/utils/tests/llm.test.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-encoder

chore(deps): bump @ai-sdk/* and ai to latest versions
  bun.lock
  package.json
  packages/encoder/package.json
  packages/utils/package.json
Due: unit, integration

fix(encoder): address review issues from gemini-3.1-flash-lite-preview default change
  README.md
  packages/encoder/src/semantic.ts
  packages/utils/src/llm.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-encoder
