Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-zerorepo, @pleaseai/soop-mcp, @pleaseai/soop-cli

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 2%
    patch:
      default:
        target: 80%

flags:
  unit:
    paths:
      - packages/
    carryforward: true
  integration:
    paths:
      - packages/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 5%
      - type: patch
        target: 80%
  individual_components:
    - component_id: utils
      name: '@pleaseai/soop-utils'
      paths:
        - packages/utils/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: store
      name: '@pleaseai/soop-store'
      paths:
        - packages/store/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: graph
      name: '@pleaseai/soop-graph'
      paths:
        - packages/graph/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: encoder
      name: '@pleaseai/soop-encoder'
      paths:
        - packages/encoder/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: tools
      name: '@pleaseai/soop-tools'
      paths:
        - packages/tools/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: zerorepo
      name: '@pleaseai/soop-zerorepo'
      paths:
        - packages/zerorepo/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: mcp
      name: '@pleaseai/soop-mcp'
      paths:
        - packages/mcp/src/**
      flag_regexes:
        - unit
        - integration
    - component_id: cli
      name: '@pleaseai/soop-cli'
      paths:
        - packages/cli/src/**
      flag_regexes:
        - unit
        - integration

feat(ast): migrate native tree-sitter to WASM-based @pleaseai/soop-namu
  bun.lock
  packages/encoder/package.json
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/type-inferrer.ts
  packages/encoder/tests/call-extractor.test.ts
  packages/encoder/tests/inheritance-extractor.test.ts
  packages/encoder/tests/type-inferrer.test.ts
  packages/namu/src/parser.ts
  packages/utils/package.json
  packages/utils/src/ast/languages/c-cpp.ts
  packages/utils/src/ast/languages/csharp.ts
  packages/utils/src/ast/languages/go.ts
  packages/utils/src/ast/languages/index.ts
  packages/utils/src/ast/languages/java.ts
  packages/utils/src/ast/languages/kotlin.ts
  packages/utils/src/ast/languages/python.ts
  packages/utils/src/ast/languages/ruby.ts
  packages/utils/src/ast/languages/rust.ts
  packages/utils/src/ast/languages/typescript.ts
  packages/utils/src/ast/parser.ts
  packages/utils/src/ast/types.ts
  packages/utils/tests/ast-treesitter-packages.test.ts
Due: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-encoder

ci: remove unnecessary quotes from node-version-file values
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
Due: none

chore: apply AI code review suggestions
  .nvmrc
  packages/ast/src/languages/index.ts
  packages/ast/src/parser.ts
  packages/namu/package.json
  packages/namu/src/parser.ts
Due: unit, integration

fix: clear failed initialization cache to allow retry
  packages/ast/src/parser.ts
  packages/namu/src/parser.ts
Due: unit, integration

fix(ast): fix unhandled rejection from cached parser promise
  packages/ast/src/parser.ts
Due: unit, integration

style(encoder): reorder imports alphabetically across encoder and MCP packages
  packages/ast/tests/ast-languages.test.ts
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/data-flow.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/diff-parser.ts
  packages/encoder/src/evolution/operations.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/type-inferrer.ts
  packages/mcp/src/interactive/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-mcp

style(encoder): reorder imports alphabetically across encoder and MCP packages (#191)
  packages/ast/tests/ast-languages.test.ts
  packages/encoder/src/call-extractor.ts
  packages/encoder/src/data-flow.ts
  packages/encoder/src/dependency-injection.ts
  packages/encoder/src/encoder.ts
  packages/encoder/src/evolution/diff-parser.ts
  packages/encoder/src/evolution/operations.ts
  packages/encoder/src/inheritance-extractor.ts
  packages/encoder/src/type-inferrer.ts
  packages/mcp/src/interactive/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-mcp

chore(soop): remove native tree-sitter and platform binary deps
  packages/soop/package.json
Due: unit, integration

docs: add project memory documentation for various roles
  .claude/agent-memory/review-review-code-reviewer/MEMORY.md
  .claude/agent-memory/review-review-documentation-analyzer/MEMORY.md
  .claude/agent-memory/review-review-issue-fixer/MEMORY.md
  .claude/agent-memory/review-review-security-reviewer/MEMORY.md
  .claude/agent-memory/review-review-silent-failure-hunter/MEMORY.md
Due: none

chore(deps): remove legacy native tree-sitter dependencies from root
  package.json
Due: none

chore(release): simplify release workflow with single-machine cross-compile
  .github/workflows/release-please.yml
  bun.lock
  package.json
  scripts/bump-version.ts
  scripts/generate-packages.ts
  tsdown.config.ts
Due: none

chore(deps): update package versions and add new optional dependencies
  .gitignore
  bun.lock
Due: none

chore(soop): remove native tree-sitter and platform binary deps (#192)
  .claude/agent-memory/review-review-code-reviewer/MEMORY.md
  .claude/agent-memory/review-review-documentation-analyzer/MEMORY.md
  .claude/agent-memory/review-review-issue-fixer/MEMORY.md
  .claude/agent-memory/review-review-security-reviewer/MEMORY.md
  .claude/agent-memory/review-review-silent-failure-hunter/MEMORY.md
  .github/workflows/release-please.yml
  .gitignore
  bun.lock
  package.json
  packages/soop/package.json
  scripts/bump-version.ts
  scripts/generate-packages.ts
  tsdown.config.ts
Due: unit, integration

chore: update Node.js version to 24 in .nvmrc
  .nvmrc
Due: none

fix(ci): fix registry-url indentation in release-please workflow
  .github/workflows/release-please.yml
Due: none

chore: update Node.js version to 24 in .nvmrc (#193)
  .nvmrc
Due: none

feat(soop-native): split platform binaries into @pleaseai/soop-native package
  .github/workflows/release-please.yml
  .release-please-manifest.json
  package.json
  packages/soop-native/bin/soop
  packages/soop-native/bin/soop-mcp
  packages/soop-native/package.json
  packages/soop/bin/soop
  packages/soop/bin/soop-mcp
  packages/soop/package.json
  release-please-config.json
  scripts/generate-packages.ts
  scripts/launcher/cli.ts
  scripts/launcher/mcp.ts
  tsdown.config.ts
Due: unit, integration

chore(soop-native): remove redundant prepack/postpack scripts
  packages/soop-native/package.json
Due: unit, integration

feat(settings): add ast-grep to known plugins
  .claude/settings.json
Due: none

feat(soop-native): add optional and peer dependencies for better compatibility
  bun.lock
Due: none

feat(soop-native): split platform binaries into @pleaseai/soop-native package (#194)
  .claude/settings.json
  .github/workflows/release-please.yml
  .release-please-manifest.json
  bun.lock
  package.json
  packages/soop-native/bin/soop
  packages/soop-native/bin/soop-mcp
  packages/soop-native/package.json
  packages/soop/bin/soop
  packages/soop/bin/soop-mcp
  packages/soop/package.json
  release-please-config.json
  scripts/generate-packages.ts
  scripts/launcher/cli.ts
  scripts/launcher/mcp.ts
  tsdown.config.ts
Due: unit, integration

fix(store): add bun:sqlite runtime adapter for compiled binary support
  packages/store/src/sqlite/db.ts
  packages/store/src/sqlite/graph-store.ts
  packages/store/src/sqlite/text-search-store.ts
  tsdown.config.ts
Due: unit, integration, @pleaseai/soop-store

refactor(store): remove unsafe type casts in sqlite adapter
  packages/store/src/sqlite/db.ts
Due: unit, integration, @pleaseai/soop-store

fix(store): add bun:sqlite runtime adapter for compiled binary support (#196)
  packages/store/src/sqlite/db.ts
  packages/store/src/sqlite/graph-store.ts
  packages/store/src/sqlite/text-search-store.ts
  tsdown.config.ts
Due: unit, integration, @pleaseai/soop-store

fix(build): correct turbo build outputs to prevent empty cache
  .github/workflows/release-please.yml
  turbo.json
Due: none

chore: apply AI code review suggestion for turbo inputs
  turbo.json
Due: none

fix(build): correct turbo build outputs to prevent empty cache (#197)
  .github/workflows/release-please.yml
  turbo.json
Due: none

fix(soop): update minimum Node.js requirement to 24
  packages/soop/package.json
Due: unit, integration

Update packages/soop/package.json
  packages/soop/package.json
Due: unit, integration

fix(soop): update minimum Node.js requirement to 24 (#198)
  packages/soop/package.json
Due: unit, integration

ci(release): bypass turbo cache for release build
  .github/workflows/release-please.yml
Due: none

fix(soop): add web-tree-sitter as runtime dependency
  packages/soop/package.json
Due: unit, integration

ci(release): bypass turbo cache for release build (#200)
  .github/workflows/release-please.yml
  packages/soop/package.json
Due: unit, integration

chore(release): bump soop to 0.1.22-alpha.0 and pin CI to @next
  .github/workflows/soop-encode.yml
  bun.lock
  packages/soop/package.json
Due: unit, integration

chore(release): bump soop to 0.1.22-alpha.0 and pin CI to @next (#201)
  .github/workflows/soop-encode.yml
  bun.lock
  packages/soop/package.json
Due: unit, integration

fix(namu): resolve tree-sitter WASM path for bundled/global installs
  package.json
  packages/namu/src/languages.ts
Due: unit, integration

ci(soop): update encode model to gemini-3.1-flash-lite-preview
  .github/workflows/soop-encode.yml
Due: none
