Repository pleaseai/soop: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, @pleaseai/soop-utils, @pleaseai/soop-store, @pleaseai/soop-graph, @pleaseai/soop-encoder, @pleaseai/soop-tools, @pleaseai/soop-zerorepo, @pleaseai/soop-mcp, @pleaseai/soop-cli

ci(soop): update encode model to gemini-3.1-flash-lite-preview (#203)
  .github/workflows/soop-encode.yml
Due: none

chore: apply AI code review suggestions
  package.json
  packages/namu/src/languages.ts
Due: unit, integration

fix(namu): resolve tree-sitter WASM path for bundled/global installs (#202)
  package.json
  packages/namu/src/languages.ts
Due: unit, integration

ci(soop): add concurrency group to soop-encode workflow
  .github/workflows/soop-encode.yml
Due: none

chore(workspace): initialize .please/ workspace structure
  .gitignore
  .please/INDEX.md
  .please/config.yml
  .please/docs/decisions/index.md
  .please/docs/plans/index.md
  .please/docs/plans/tech-debt-tracker.md
  .please/docs/specs/index.md
Due: none

docs(claude): add @.please/INDEX.md import to CLAUDE.md
  CLAUDE.md
Due: none

ci(soop): increase timeout to 20m and save cache on failure
  .github/workflows/soop-encode.yml
Due: none

ci(soop): only trigger encode on source file changes
  .github/workflows/soop-encode.yml
Due: none

ci(soop): exclude .soop graph and embeddings from path trigger
  .github/workflows/soop-encode.yml
Due: none

ci(soop): add concurrency group to soop-encode workflow (#204)
  .github/workflows/soop-encode.yml
Due: none

ci: add workflow_dispatch and improve integration test caching
  .github/workflows/ci.yml
  .github/workflows/soop-encode.yml
Due: none

ci: pin GitHub Actions to commit SHAs
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/soop-encode.yml
Due: none

ci: improve workflows and pin actions to SHAs (#206)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/soop-encode.yml
Due: none

ci: fix invalid actions/checkout SHA and upgrade to v6
  .github/workflows/soop-encode.yml
  packages/soop/package.json
Due: unit, integration

ci: fix invalid actions/checkout SHA and upgrade to v6 (#216)
  .github/workflows/soop-encode.yml
  packages/soop/package.json
Due: unit, integration

refactor(encoder): improve error message and test coverage for onnxModelId
  packages/encoder/src/embedding.ts
  packages/encoder/tests/encoder/voyage-4-nano.test.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): resolve voyage-4-nano ONNX model not found in CI
  packages/encoder/src/embedding.ts
  packages/encoder/tests/encoder/voyage-4-nano.test.ts
Due: unit, integration, @pleaseai/soop-encoder

test(encoder): add calledTimes assertions for from_pretrained resolution
  packages/encoder/tests/encoder/voyage-4-nano.test.ts
Due: unit, integration

fix(encoder): resolve voyage-4-nano ONNX model not found in CI (#217)
  packages/encoder/src/embedding.ts
  packages/encoder/tests/encoder/voyage-4-nano.test.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): convert BigInt attention_mask from ONNX int64 tensors to number
  packages/encoder/src/embedding.ts
  packages/encoder/tests/encoder/voyage-4-nano.test.ts
Due: unit, integration, @pleaseai/soop-encoder

fix(encoder): convert BigInt attention_mask from ONNX int64 tensors to number (#220)
  packages/encoder/src/embedding.ts
  packages/encoder/tests/encoder/voyage-4-nano.test.ts
Due: unit, integration, @pleaseai/soop-encoder

ci: use GitHub App token in soop-encode workflow
  .github/dependabot.yml
  .github/workflows/soop-encode.yml
Due: none

ci: use GitHub App token in soop-encode workflow (#223)
  .github/dependabot.yml
  .github/workflows/soop-encode.yml
Due: none

feat(cli): integrate soop-mcp into soop mcp subcommand (#227)
  .mcp.json
  CLAUDE.md
  README.md
  agent-evals/experiments/cc-rpg.ts
  bun.lock
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/mcp.ts
  packages/mcp/src/server.ts
  packages/soop-native/bin/soop-mcp
  packages/soop/bin/soop-mcp
  scripts/generate-packages.ts
  scripts/launcher/mcp.ts
  tsdown.config.ts
Due: unit, integration, @pleaseai/soop-mcp, @pleaseai/soop-cli

chore: pass graph file to soop mcp in .mcp.json
  .mcp.json
Due: none

feat(cli): integrate soop-mcp into soop mcp subcommand (#228)
  .mcp.json
  CLAUDE.md
  README.md
  agent-evals/experiments/cc-rpg.ts
  bun.lock
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/mcp.ts
  packages/mcp/src/server.ts
  packages/soop-native/bin/soop-mcp
  packages/soop/bin/soop-mcp
  scripts/generate-packages.ts
  scripts/launcher/mcp.ts
  tsdown.config.ts
Due: unit, integration, @pleaseai/soop-mcp, @pleaseai/soop-cli

chore(workspace): initialize .please/ workspace structure (#205)
  .gitignore
  .please/INDEX.md
  .please/config.yml
  .please/docs/decisions/index.md
  .please/docs/plans/index.md
  .please/docs/plans/tech-debt-tracker.md
  .please/docs/specs/index.md
  CLAUDE.md
Due: none

docs: add soop MCP tool usage guide to CLAUDE.md
  CLAUDE.md
Due: none

docs: add soop MCP tool usage guide to CLAUDE.md (#230)
  CLAUDE.md
Due: none

refactor(encoder): align RPGEncoder API and CLI with reference implementation
  packages/cli/src/cli.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/templates/soop-encode.yml
  packages/encoder/src/encoder.ts
  packages/mcp/src/tools.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-mcp, @pleaseai/soop-cli

fix(encoder): address review issues from PR #231
  .github/workflows/soop-encode.yml
  CLAUDE.md
  packages/cli/src/cli.ts
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-cli

refactor(cli): replace --embed with --search strategy option
  .github/workflows/soop-encode.yml
  packages/cli/src/cli.ts
  packages/cli/src/templates/soop-encode.yml
Due: unit, integration, @pleaseai/soop-cli

feat(cli): incremental embedding in evolve via --search
  packages/cli/src/cli.ts
Due: unit, integration, @pleaseai/soop-cli

fix(encoder): address review iteration 2 issues
  packages/cli/src/cli.ts
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-cli

chore: add git submodule init to conductor setup script
  conductor.json
Due: none

chore: enable github plugin in claude code settings
  .claude/settings.json
Due: none

Apply suggestion from @gemini-code-assist[bot]
  conductor.json
Due: none

chore: add git submodule init to conductor setup script (#232)
  .claude/settings.json
  conductor.json
Due: none

fix(encoder): apply AI reviewer suggestions
  packages/cli/src/cli.ts
  packages/encoder/src/encoder.ts
Due: unit, integration, @pleaseai/soop-encoder, @pleaseai/soop-cli

Path conditions:
  unit: any of: packages/
  integration: any of: packages/
  @pleaseai/soop-utils: any of: packages/utils/src/**
  @pleaseai/soop-store: any of: packages/store/src/**
  @pleaseai/soop-graph: any of: packages/graph/src/**
  @pleaseai/soop-encoder: any of: packages/encoder/src/**
  @pleaseai/soop-tools: any of: packages/tools/src/**
  @pleaseai/soop-zerorepo: any of: packages/zerorepo/src/**
  @pleaseai/soop-mcp: any of: packages/mcp/src/**
  @pleaseai/soop-cli: any of: packages/cli/src/**
